.container {
    padding: 0px 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(254px, 1fr));
    justify-content: center;
    gap: 16px;
    margin-bottom: 80px;
}

.container h2 {
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 40px;
}

.cardContainer {
    max-width: 300px;
}

.cardContainer img {
    width: 259px;
    height: 250px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.cardContainer p {
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.links {
    text-decoration: none;
}

.productsBtns {
    display: flex;
    padding: 0px 40px;
    margin-bottom: 40px;
}

.productsBtns hr {
    border-bottom: 1px solid #DDDDDD;
    width: 16px;
    margin: 19px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}
@media (max-width: 768px) {
    .container h2 {
        font-size: 56px;
    }
    
}
@media (max-width: 603px) {
    .cards {
        justify-items: center;
    }
}
@media (max-width: 480px) {
    .container h2 {
        font-size: 48px;
        margin-top: 32px;
    }
    .productsBtns {
       display: none;
    }
    .cardContainer img {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 360px) {
    .container h2 {
        font-size: 40px;
    }
    
}
@media (max-width: 320px) {
    .cardContainer img {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 290px) {
    .cardContainer img {
        width: 150px;
        height: 150px;
    }
    .cards {
        justify-content: space-around;
    }
    
}