h1 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 40px;
}

.mainGardenProducts {
    background-image: url(../../../assets/images/main_img.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.guideContent {
    padding: 80px 40px 308px;
}

.btnCheckOut {
    display: flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #393;
    color: #FFF;
    border-radius: 6px;
    border: none;
}

.categoriesTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 40px 40px;
}

.categoriesTitle h2 {
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-right: 32px;
}

.categoriesTitle hr {
    width: 855px;
    height: 1px;
    margin: auto 0px;
    border: 1px solid #DDDDDD;
    text-align: center;
}