.saleTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 40px 40px;
}

.saleTitle h2 {
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-right: 32px;
}

.saleTitle hr {
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    margin: 19px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}

@media (max-width: 768px) {
    .saleTitle h2 {
        font-size: 56px;
    }
}

@media (max-width: 581px) {
    .saleTitle h2 {
        font-size: 48px;
    }
}

@media (max-width: 475px) {
    .saleContainer {
        position: relative;
    }

    .saleLinkButtonContainer {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .saleTitle hr {
        display: none;
    }

    .saleTitle h2 {
        margin: auto;
    }
}

@media (max-width: 360px) {
    .saleTitle h2 {
        font-size: 40px;
    }
}