.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    display: flex;
    width: 548px;
    padding: 32px;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #393;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modalContent.active {
    transform: scale(1);
}

.white {
    cursor: pointer;
}

@media (max-width: 600px) {
    .modalContent {
        width: 435px;
    }
}

@media (max-width: 480px) {
    .modalContent {
        width: 360px;
    }

    .white {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 390px) {
    .modalContent {
        width: 300px;
    }
}

@media (max-width: 310px) {
    .modalContent {
        width: 255px;
        padding: 10px;
        gap: 0px;
    }
}