

.empty {
    width: 300px;
    height: 300px;
}

.emptyText {
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 30px;
}

.emptyBox {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalTitle {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin: 0px 105px 24px 0px;
}

.modalText {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}