

.discountBtn {
    padding: 16px 32px;
    border-radius: 6px;
    border: 1px solid #FFF;
    margin: 32px 0px;
    text-align: center;
    font-family: ' Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.discountBtn:hover{
    color: white;
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
}