.buttonCommon {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 316px;
    margin: 32px 0;
}

.discountBtn,
.addBtn,
.addBtn_two {
    composes: buttonCommon;
    cursor: pointer;
}

.discountBtn {
    padding: 16px 32px;
    width: 450px;
    border: 1px solid #fff;
    background-color: #fff;
}

.discountBtn:hover {
    color: #fff;
    background-color: black;
    border: 1px solid black;
}

.addBtn,
.addBtn_two,
.added,
.added_two {
    background-color: #393;
    color: #fff;
    border: none;
}

.addBtn:hover,
.addBtn_two:hover {
    color: #fff;
    background: #282828;
}

.added,
.added_two {
    composes: buttonCommon;
    border: 1px solid #282828;
    background: #fff;
    color: #282828;
}

.addBtn_two,
.added_two {
    margin: 0px;
    width: 284px;
}

.requestBtn {
    composes: buttonCommon;
    color: #393;
    width: 100%;
    background-color: #f1f3f4;
    border: none;
}

.closeButton {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.basketFormBtn {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: none;
    border-radius: 6px;
    background: #393;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    width: 100%;
    margin-top: 32px;
}

@media (max-width: 990px) {
    .discountBtn {
        width: 394px;
    }
}

@media (max-width: 930px) {
    .discountBtn {
        width: 344px;
    }
}

@media (max-width: 890px) {
    .discountBtn {
        width: 320px;
    }
}

@media (max-width: 850px) {
    .discountBtn {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .discountBtn {
        width: 294px;
    }
}

@media (max-width: 700px) {
    .discountBtn {
        width: 500px;
    }
}

@media (max-width: 615px) {
    .discountBtn {
        width: 450px;
    }
}

@media (max-width: 560px) {
    .discountBtn {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .discountBtn {
        width: 350px;
        font-size: 18px;
        padding: 12px 20px;
    }
}

@media (max-width: 450px) {
    .discountBtn {
        width: 290px;
    }
}

@media (max-width: 390px) {
    .discountBtn {
        width: 230px;
    }
}

@media (max-width: 330px) {
    .discountBtn {
        width: 215px;
    }
}

@media (max-width: 400px) {
    .added_two {
        max-width: 190px;
    }

    .addBtn_two {
        max-width: 190px;
    }
}

@media (max-width: 690px) {
    .added {
        max-width: 220px;
    }

    .addBtn {
        max-width: 220px;
    }
}

@media (max-width: 1140px) {
    .basketFormBtn {
        width: 25%;
    }
}

@media (max-width: 550px) {
    .basketFormBtn {
        width: 100%;
    }

}

@media (max-width: 480px) {
    .basketFormBtn {
        font-size: 18px;
        padding: 12px 32px;
    }
}