.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.basket {
    margin-top: 5px;
}

.link {
    text-decoration: none;
}