.footerContainer {
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 59% auto;
    grid-template-rows: 150px;
    gap: 32px;

    grid-template-areas:
        'phone  socials'
        'address  workingHours'

}

.footerTitle {
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    padding: 0px 40px;
    margin-bottom: 40px;
}

.footerPhone {
    padding: 32px;
    display: grid;
    gap: 16px;
    grid-area: phone;
    background-color: #F1F3F4;
    border-radius: 12px;
}

.footerAddress {
    padding: 32px;
    display: grid;
    gap: 16px;
    grid-area: address;
    background-color: #F1F3F4;
    border-radius: 12px;
}

.footerSocials {
    padding: 32px;
    display: grid;
    gap: 16px;
    grid-area: socials;
    background-color: #F1F3F4;
    border-radius: 12px;
}

.footerWorkingHours {
    padding: 32px;
    display: grid;
    gap: 16px;
    grid-area: workingHours;
    background-color: #F1F3F4;
    border-radius: 12px;
}

.footerContainer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    color: #282828;
}

.footerContainer span {
    color: #8B8B8B;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.footerImg {
    display: flex;
    gap: 16px;
}