.footerContainer {
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 59% auto;
    grid-template-rows: 150px;
    gap: 32px;
    grid-template-areas:
        'phone  socials'
        'address  workingHours'
}

.footerTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    padding: 0px 40px;
    margin-bottom: 40px;
}

.phone {
    grid-area: phone;
}

.address {
    grid-area: address;
}

.socials {
    grid-area: socials;
}

.workingHours {
    grid-area: workingHours;
}

.footerContainer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    color: #282828;
}

.footerContainer span {
    color: #8B8B8B;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.footerImg {
    display: flex;
    gap: 16px;
}

.card {
    padding: 32px;
    background-color: #F1F3F4;
    border-radius: 12px;
    display: grid;
    gap: 16px;
}

@media (max-width: 768px) {
    .footerTitle {
        font-size: 56px;
    }
}

@media (max-width: 480px) {
    .footerTitle {
        font-size: 48px;
    }
}

@media (max-width: 360px) {
    .footerTitle {
        font-size: 40px;
    }
}