.basketFormContainer {
    background-color: #F1F3F4;
    padding: 32px;
    border-radius: 12px;
}

.titleForm {
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 24px;
}

.items {
    color: #8B8B8B;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.total {
    color: #8B8B8B;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 32px;
}


.totalPrice {
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.modalTitle {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin: 0px 105px 24px 0px;
}

.modalText {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

@media (max-width: 1140px) {
    .basketFormContainer {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .totalPrice {
        font-size: 56px;
    }

    .items {
        font-size: 32px;
    }

    .titleForm {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .totalPrice {
        font-size: 48px;
    }

    .items {
        font-size: 28px;
    }

    .titleForm {
        font-size: 28px;
    }
}

@media (max-width: 418px) {
    .totalPrice {
        font-size: 35px;
    }

    .items {
        font-size: 28px;
    }

    .titleForm {
        font-size: 28px;
    }

    .total {
        font-size: 28px;
    }
}

@media (max-width: 360px) {
    .totalPrice {
        font-size: 25px;
    }
}

@media (max-width: 660px) {
    .modalTitle {
        font-size: 30px;
    }

    .modalText {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .modalTitle {
        font-size: 20px;
    }

    .modalText {
        font-size: 20px;
    }
}

@media (max-width: 390px) {
    .modalTitle {
        font-size: 15px;
    }

    .modalText {
        font-size: 15px;
    }
}